{% extends "utsida/layout.html" %}


{% block content %}
    {% load widget_tweaks %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{ message|escape|safe }}</div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">


            <h2 class="text-center vertical-space-bottom-big">Mine søknader </h2>

            {% if object_list %}
                {% for application in object_list %}
                    {% if application.status == "A" %}
                        <div class="panel panel-default boxShadow vertical-space-bottom-big panel-success">
                    {% elif application.status == "P" %}
                        <div class="panel panel-default boxShadow vertical-space-bottom-big panel-warning">
                    {% elif application.status == "D" %}
                        <div class="panel panel-default boxShadow vertical-space-bottom-big panel-danger">
                    {% endif %}
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3 italic">
                            #{{ application.id }}
                            {% if application.status == "A" %}
                                Godkjent
                            {% elif application.status == "P" %}
                                Til godkjenning
                            {% elif application.status == "D" %}
                                Ikke godkjent
                            {% endif %}
                        </div>
                        <div class="col-md-6 panel-title bold text-center">
                            {{ application.course_matches.all.0.abroadCourse.university }}
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-8"></div>
                            <div class="col-md-2" id="editContainer">
                        <span id="editApplication" class="glyphicon glyphicon-edit pointer large-glyph"
                              onclick=location.href="{% url 'edit_application' id=application.id %}"></span>
                            </div>
                            <div class="col-md-2" id="removeContainer">
                        <span class="glyphicon glyphicon-trash pointer large-glyph" data-toggle="confirmation"
                              data-id="{{ application.id }}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {% if application.course_matches %}
                        <table class="table">
                            <thead>
                            <th>NTNU</th>
                            <th>{{ application.course_matches.all.0.abroadCourse.university.name }}</th>
                            </thead>
                            <tbody id="courseMatchList">
                            {% for course in application.course_matches.all %}
                                <tr>
                                <td><a href="https://www.ntnu.no/studier/emner/{{ course.homeCourse.code }}"
                                       target="_blank"
                                       onclick="return alertLink(this)"> {{ course.homeCourse.code }} {{ course.homeCourse.name }} </a>
                                </td>
                                {% if course.abroadCourse.description_url %}
                                    <td>
                                        <a href="{{ course.abroadCourse.description_url }}" target="_blank"
                                           onclick="return alertLink(this)">{{ course.abroadCourse.code }} {{ course.abroadCourse.name }}</a>
                                    </td>
                                {% else %}
                                    <td> {{ course.abroadCourse.code }} {{ course.abroadCourse.name }}</td>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div>Det er ingen fag-koblinger i denne søknaden</div>
                    {% endif %}
                    <label>Kommentar</label>
                    {% if application.comment and application.comment.strip %}
                        <div> {{ application.comment }}</div>
                    {% else %}
                        <div class="italic"> (tom)</div>
                    {% endif %}
                </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="subTitle text-center">(Du har ingen aktive søknader)</p>
            {% endif %}


            </div>
            </div>

            {% load staticfiles %}
            <script src="{% static 'utsida/javascripts/profile/applicationHandler.js' %}"></script>

{% endblock %}