{% extends "utsida/layout.html" %}


{% block content %}
    {% load widget_tweaks %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1>Søknader </h1>
            <label for="filter" class="control-label input-group">Filtrer</label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" id="showAllApplications">
                    <input type="radio" name="filter" value="Alle" checked>Alle
                </label>
                <label class="btn btn-default" id="showPending">
                    <input type="radio" name="filter" value="Venter">Venter
                </label>
                <label class="btn btn-default" id="showApproved">
                    <input type="radio" name="filter" value="Godkjent">Godkjent
                </label>
                <label class="btn btn-default" id="showDisapproved">
                    <input type="radio" name="filter" value="Godkjent">Ikke godkjent
                </label>
            </div>
            {% if object_list %}
                {% for application in object_list %}
                    {% if application.status == "A" %}
                        <div class="courseBlock boxShadow bg-success">
                    {% elif application.status == "P" %}
                        <div class="courseBlock boxShadow bg-neutral">
                    {% elif application.status == "D" %}
                        <div class="courseBlock boxShadow bg-danger">
                    {% endif %}
                <div class="row">
                    <div class="col-md-9">
                        <label>SøknadsID:</label>
                        <span>{{ application.id }}</span>
                    </div>
                    <div class="col-md-1" id="removeContainer">
                        <span class="glyphicon glyphicon-trash pointer" data-toggle="confirmation"
                              data-id="{{ application.id }}"></span>
                    </div>
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-remove pointer" data-toggle="changeStatusConfirmation"
                              data-title="Endre status til: Ikke godkjent?" data-type="disapprove"
                              data-id="{{ application.id }}"></span>
                    </div>
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-ok pointer" data-toggle="changeStatusConfirmation"
                              data-title="Endre status til: Godkjent?" data-type="approve"
                              data-id="{{ application.id }}"></span>
                    </div>
                </div>
                <div>
                    <label>Bruker: </label>
                    <span> {{ application.user }} </span>
                </div>
                <div>
                    <label>Navn: </label>
                    <span> {{ application.user.first_name }} {{ application.user.last_name }}</span>
                </div>
                <div>
                    <label>Status</label>
                    {% if application.status == "A" %}
                        <span class="status">Godkjent</span>
                    {% elif application.status == "P" %}
                        <span class="status">Til godkjenning</span>
                    {% elif application.status == "D" %}
                        <span class="status"> Ikke godkjent</span>
                    {% endif %}
                </div>
                <label>Universitet</label>
                <span> {{ application.course_matches.all.0.abroadCourse.university }}</span>
                <div class="bold">Fag-koblinger:</div>
                {% if application.course_matches %}
                    <table class="table table-hover">
                        <thead>
                        <th>Bortefag</th>
                        <th>Hjemmefag</th>
                        </thead>
                        <tbody id="courseMatchList">
                        {% for course in application.course_matches.all %}
                            <tr>
                            <td> {{ course.abroadCourse.code }} {{ course.abroadCourse.name }}</td>
                            <td> {{ course.homeCourse.code }} {{ course.homeCourse.name }} </td>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div>Det er ingen fag-koblinger i denne søknaden</div>
                {% endif %}
                <label>Kommentar</label>
                {% if application.comment and application.comment.strip %}
                    <div> {{ application.comment }}</div>
                {% else %}
                    <div class="italic"> (tom)</div>
                {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <div>Du har ingen søknader</div>
            {% endif %}


            </div>
            </div>

            {% load staticfiles %}
            <script src="{% static 'utsida/javascripts/profile/applicationHandler.js' %}"></script>

{% endblock %}