{% extends "utsida/layout.html" %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load widget_tweaks %}

    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div id="sucessAlert" class="alert alert-success">{{ message }}</div>
        {% elif 'error' in message.tags %}
            <div id="sucessAlert" class="alert alert-danger">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary center-block"> Endre passord</button>
            </form>
        </div>
    </div>
{% endblock %}