{% extends "utsida/layout.html" %}

{% block content %}

    {% load widget_tweaks %}

    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div id="sucessAlert" class="alert alert-success">{{ message }}</div>
        {% endif %}
    {% endfor %}


    <h2 class="text-center vertical-space-bottom">
        Mine fag
    </h2>

    <select class="form-control" style="width: 50%; margin: 0 auto; display: none" id="abroad_university_select">
        {% for university in universities %}
            <option>{{ university }}</option>
        {% endfor %}
    </select>


    <div class="row vertical-space-top-big">
        <div class="col-md-6">
        <h3 class="text-center" style="margin-top: 15px; margin-bottom: 15px;">NTNU</h3>
            {% if home_courses %}
                <p class="text-center" style="display: none" id="emptyHomeCourseInfo">Trykk på knappen under for å legge til fag.</p>

                <div id="homeCourseList">
                    {% for course in home_courses %}
                        <div onclick="CourseMatcher.markHomeCourse(this)"
                             class="centerCol courseBlock boxShadow pointer noSelect blockElement">
                            <span id="code">{{ course.code }}</span> - <span id="name">{{ course.name }}</span>
                            <span data-toggle="confirmation" data-type="home_course" data-id="{{ course.id }}"
                                  class="glyphicon glyphicon-remove pull-right pointer">
                            </span>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                    <p class="text-center" id="emptyHomeCourseInfo">Trykk på knappen under for å legge til fag.</p>
                    <div id="homeCourseList"></div>
            {% endif %}

            <div class="centerCol courseBlock boxShadow pointer noSelect blockElement" id="addHomeCourseBlock">
                <form id="add-course-form">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="vertical-space-bottom-small">
                                {{ courses_to_take_form.coursesToTake | add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button id="addHomeCourse" class="btn btn-primary" type="submit">Legg til
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="plus-btn centerCol boxShadow vertical-space-top noSelect"
                 onclick="CourseMatcher.toggleAddHomeCourse()" id="toggleAddHomeCourseBtn">+
            </div>

        </div>

        <div class="col-md-6">
            <h3 id="universityHeader" class="text-center">Universitet i utlandet</h3>
            <div id="abroadCourseListContainer">
            {% if universities %}
                <p id="noAbroadCourseHeader" style="display: none" class="text-center">Trykk på knappen under for å legge til fag, eller finne fag med Utsidas anbefalingssystem</p>


                <div id="courseList">
                    {% for course in courses %}
                        <div onclick="CourseMatcher.markAwayCourse(this)" data-university="{{ course.university }}"
                             class="centerCol courseBlock boxShadow pointer noSelect blockElement"
                             style="display: none;">
                            {% if course.code == "" %}
                                <span id="name">{{ course.name }}</span>
                            {% else %}
                                <span id="code">{{ course.code }}</span> - <span id="name">{{ course.name }}</span>
                            {% endif %}
                            <span data-toggle="confirmation" data-type="abroad_course" data-id="{{ course.id }}"
                                  class="glyphicon glyphicon-remove pull-right pointer">
                            </span>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                    <p id="noAbroadCourseHeader" class="text-center">Trykk på knappen under for å legge til fag, eller finne fag med Utsidas anbefalingssystem</p>
            {% endif %}
            <div class="plus-btn boxShadow borderBox centerCol vertical-space-top noSelect" data-toggle="modal"
                 data-target="#addAbroadModal">+
            </div>
            </div>
        </div>
    </div>

    <div class="row vertical-space-top-big vertical-space-bottom-big">
        <div class="col-md-12">
            <button onclick="CourseMatcher.matchSelectedCourses()" class="btn btn-primary btn-lg center-block">
                <span class="glyphicon glyphicon-link"></span>
                Koble fag
            </button>
        </div>
    </div>

    <div class="divider-line"></div>


    <div class="row vertical-space-top-big vertical-space-bottom-big">
        <div id="course_match_list_container" class="col-md-12 vertical-space-top-big">
            <h2 class="text-center vertical-space-bottom"> Mine fagkoblinger</h2>
            <select id="course_match_university_select" class="form-control" style="display: none" style="width: 50%; margin: 0 auto">
                    {% for university in course_match_universities %}
                        <option>{{ university }}</option>
                    {% endfor %}
            </select>
            {% if course_matches %}
                <div>
                <table class="table table-striped vertical-space-top-big">
                    <thead>
                    <tr>
                        <th>NTNU</th>
                        <th id="courseMatchAwayTitle">Fag borte</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="courseMatchList">
                    {% for course in course_matches %}
                        <tr data-university="{{ course.abroadCourse.university.name }}">
                            <td><a href="https://www.ntnu.no/studier/emner/{{ course.homeCourse.code }}" target="_blank"
                                   onclick="return alertLink(this)">{{ course.homeCourse.code }} {{ course.homeCourse.name }} </a>
                            </td>
                            {% if course.abroadCourse.description_url %}
                                <td>
                                    <a href="{{ course.abroadCourse.description_url }}" target="_blank"
                                       onclick="return alertLink(this)">{{ course.abroadCourse.code }} {{ course.abroadCourse.name }}</a>
                                </td>
                            {% else %}
                                <td> {{ course.abroadCourse.code }} {{ course.abroadCourse.name }}</td>
                            {% endif %}

                            <td>
                                <span data-toggle="confirmation" data-type="course_match" data-id="{{ course.id }}"
                                      class="glyphicon glyphicon-remove pointer"></span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <button onclick="checkValidApplication()" type="button"
                    class="center-block btn btn-primary btn-lg vertical-space-top-big">
                Søk om godkjenning
            </button>

            {% else %}
                <h3 id="course_match_list_header" class="text-center vertical-space-bottom-big">(Du har ingen lagret)</h3>
            {% endif %}


        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Søknad</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user">Bruker:</label>
                        <div id="user">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                        <label for="courseMatches"> Fag-koblinger</label>
                        <div>
                            <table class="table table-striped">
                                <tbody id="courseMatchListModal">
                                {% for course in course_matches %}
                                    <tr data-university="{{ course.abroadCourse.university.name }}" data-id={{ course.pk }}>
                                    <td> {{ course.abroadCourse.code }} {{ course.abroadCourse.name }}</td>
                                    <td> {{ course.homeCourse.code }} {{ course.homeCourse.name }} </td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment">Kommentar</label>
                        <textarea id="comment" class="form-control"> </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                    <button type="submit" onclick="sendApproval()" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addAbroadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% if university %}
                        <h4 class="modal-title" id="myModalLabel">Legg til nytt fag ved {{ university }}</h4>
                    {% else %}
                        <h4 class="modal-title" id="myModalLabel">Legg til nytt fag</h4>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <form id="add-abroad-course-form" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label> Kode </label>
                                {{ add_abroad_form.code | add_class:"form-control" }}
                            </div>
                            <div class="homeCourse form-group">
                                <label> Navn </label>
                                {{ add_abroad_form.name | add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label> Link </label>
                                {{ add_abroad_form.description_url | add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label> Studiepoeng </label>
                                {{ add_abroad_form.study_points | add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label>Universitet</label>
                                {{ add_abroad_form.university | add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                            <button type="submit" class="btn btn-primary">Lagre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% load staticfiles %}
    <script src="{% static 'utsida/javascripts/profile/courseMatcher.js' %}"></script>
    <script src="{% static 'utsida/javascripts/profile/savedCourses.js' %}"></script>
    <script src="{% static 'utsida/javascripts/profile/course_approval_request.js' %}"></script>



{% endblock %}