{% extends "utsida/layout.html" %}

{% block content %}
    {% load widget_tweaks %}

    <h2 class="text-center">Endre brukerprofil</h2>

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label>Brukernavn</label>
                    {{ user_form.username|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Epost</label>
                    {{ user_form.email|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Fornavn</label>
                    {{ user_form.first_name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Etternavn</label>
                    {{ user_form.last_name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Ditt institutt</label>
                    {{ profile_form.institute|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Passord</label>
                    {{ user_form.password1|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Bekreft passord</label>
                    {{ user_form.password2|add_class:"form-control" }}
                </div>


                <div class="form-group vertical-space-top">
                    <input type="submit" value="Endre" class="btn btn-primary center-block" style="width:100px; height:50px;">
                </div>
            </form>

        </div>
    </div>
{% endblock %}