{% extends 'utsida/layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    {% load crispy_forms_tags %}

    <div class="login-container vertical-space-bottom">

        <h1 class="text-center vertical-space-top-big">Utsida</h1>
	<h3 class="subTitle text-center vertical-space-bottom-big">En prototype for enklere utveksling</h3>
        <form action="/login/{{ backends.backends.0 }}">
            <input type="submit" value="Logg inn" class="btn btn-primary main-btn square-corners boxShadow centerCol">
        </form>

        <div class="row vertical-space-top-small">
            <div class="col-md-6" style="padding: 0">
                <img class="login-logo pull-right" src="../../static/utsida/images/ntnu_logo.png" style="border-right: 2px solid #ccc; padding-right: 10px">
            </div>
            <div class="col-md-6" style="padding: 0;">
                <img class="login-logo" src="../../static/utsida/images/facebook_logo.png" style=" padding-left: 10px; padding-bottom: 7px">
            </div>
        </div>
    </div>

    <div class="strike vertical-space-top-bigger vertical-space-bottom">
        <span style="color: #595959">eller</span>
    </div>

    <h2 class="subTitle text-center "><a data-toggle="collapse" data-target="#form_login">Logg inn med Utsida bruker</a></h2>

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div id="form_login" class="collapse">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <div class="form-group vertical-space-top">
                        <input type="submit" value="Logg inn" class="btn btn-primary center-block"
                               style="width:100px; height:50px;">
                    </div>
                </form>

                <h2 class="subTitle text-center vertical-space-top-big"><a href="/profile/register">Registrer
                    ny Utsida bruker</a></h2>
            </div>
        </div>
    </div>
{% endblock %}
