/***************************
* = Table of contents =
* 1.0 - General
* 1.1 - Spacing
* 2.0 - nav
* 3.0 - Footer


/* 1.0 - General */
html, body {
    height: 100%;
}
.main-btn {
    width: 300px;
    height: 60px;
    line-height: 45px;
    vertical-align: middle;
}

.main-wrapper {
    min-height: calc(100% - 72px);
    position: relative;
}



/* 1.1 - Spacing */
.vertical-space-top {
    margin-top: 20px;
}
.vertical-space-top-big {
    margin-top: 50px;
}
.vertical-space-top-huge {
    margin-top: 150px;
}
/* 3.0 Footer */
.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #4d4d4d;
    color: white;
    text-align: center;

}
