{% extends "utsida/layout.html" %}

{% block content %}

    <div class="container">
        <h2 class="text-center">Godkjente fag fra {{ university_name }}</h2>
        <table id="example" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Fag hjemme</th>
                <th>Fag ute</th>
                <th>Studiepoeng</th>
                <th>Godkjent dato</th>
                <th class="select-filter">Universitet</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>

            {% for course_match in course_match_list %}
                <tr class="clickableTableRow noselect">
                <td class="glyphicon glyphicon-chevron-down"></td>
                    {% if course_match.homeCourse.description_url == "" %}
                        <td>{{ course_match.homeCourse }} </td>
                    {% else %}
                        <td><a href={{ course_match.homeCourse.description_url }}>{{ course_match.homeCourse }}</a>
                        </td>
                    {% endif %}
                    {% if course_match.abroadCourse.description_url == "" %}
                        <td>{{ course_match.abroadCourse }} </td>
                    {% else %}
                        <td>
                            <a href={{ course_match.abroadCourse.description_url }}>{{ course_match.abroadCourse }}</a>
                        </td>
                    {% endif %}
                    <td> {{ course_match.abroadCourse.study_points }}</td>
                    <td> {{ course_match.approval_date }}</td>
                    <td> {{ course_match.abroadCourse.university }}</td>
                    <td>{{ course_match.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Legg til fagkobling
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fag kobling</h4>
      </div>
      <div class="modal-body">
        <form>
    {{ add_form }}
    <button>Legg til fagkobling</button>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
        <button type="button" class="btn btn-primary">Lagre</button>
      </div>
    </div>
  </div>
</div>



    {% load staticfiles %}
    <script src="{% static 'utsida/javascripts/courseMatch/courseMatchTable.js' %}"></script>

{% endblock %}