{% extends "utsida/layout.html" %}

{% block content %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div id="sucessAlert" class="alert alert-success">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <h1 class="text-center">Velkommen til Utsida</h1>

    <div class="row vertical-space-top-big">
        <div class="col-md-4">
            <div class="number-circle centerCol vertical-space-bottom boxShadow noSelect"
                    id="number1"
                    data-container="body"
                   data-toggle="popover"
                   data-placement="top"
                   data-content="Legg til fag du trenger på NTNU, slik at du senere kan koble disse med fag fra andre universiteter, eller se oversikten over alle fag og fag-koblinger du har lagret."
                   data-trigger="hover">1</div>
        </div>

        <div class="col-md-4">
            <div class="number-circle centerCol vertical-space-bottom boxShadow noSelect"
                 id="number2"
                 data-container="body"
                   data-toggle="popover"
                   data-placement="top"
                   data-content="Du kan finne fag-koblinger som allerede er godkjent, eller lage nye koblinger med fag
                                 du finner med Utsidas anbefalingssystem. Fagene og fag-koblingene lagres på 'Mine fag'-siden."
                   data-trigger="hover"
            >2</div>
        </div>

        <div class="col-md-4">
            <div class="number-circle centerCol vertical-space-bottom boxShadow noSelect"
                 id="number3"
                 data-container="body"
                   data-toggle="popover"
                   data-placement="top"
                   data-content="Når du har opprettet en søknad for godkjenning av fag-koblinger, and du administrere disse her."
                   data-trigger="hover"
            >3</div>
        </div>
    </div>

    <div class="row vertical-space-top">
        <div class="col-md-4 text-center col-padding" id="col1">
            <a id="front-btn-1" class="btn btn-primary main-btn square-corners boxShadow" href="/profile/courses/">Mine fag
            </a>
        </div>

        <div class="col-md-4 text-center col-padding" id="col2">
            <a id="front-btn-2" class="btn btn-primary main-btn square-corners boxShadow" href="/courseMatch/">Fag-koblinger
            </a>
            <a id="front-btn-3" class="btn btn-success main-btn square-corners boxShadow vertical-space-top-big" href="/process/">
                Få anbefaling
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="col-md-4 text-center col-padding" id="col3">
            <a id="front-btn-4" class="btn btn-primary main-btn square-corners boxShadow" href="/profile/soknader/">Mine søknader
            </a>
        </div>

    </div>

    <div class="row vertical-space-top-big">
        <div class="col-md-12">
            <h3 class="text-center">Populære land</h3>
            <div class="vertical-space-top vertical-space-bottom-big" id="world-map" style="width: 100%; height: 600px"></div>
        </div>
    </div>

    <script> setTimeout(function() {$('#sucessAlert').fadeOut('slow');}, 5000);</script>

    {% load staticfiles %}
    <script src="{% static 'utsida/javascripts/jquery.jvectormap.min.js' %}"></script>
    <script src="{% static 'utsida/javascripts/jquery-jvectormap-world-mill.js' %}"></script>
    <script src="{% static 'utsida/javascripts/frontPage/map.js' %}"></script>
    <script src="{% static 'utsida/javascripts/frontPage/country_codes.js' %}"></script>
    <script src="{% static 'utsida/javascripts/frontPage/stepHighlighter.js' %}"></script>

{% endblock %}

