{% extends "utsida/layout.html" %}

{% block content %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div id="sucessAlert" class="alert alert-success">{{ message }}</div>
        {% endif %}
    {% endfor %}
    <h2>Hva er Utsida?</h2>
    <p>
        Utsida er et verktøy som skal gjøre det enklere for utvekslingsstudenter å velge riktige fag og universiteter.
    </p>

    <h2 class="vertical-space-top-big">Hvordan virker det?</h2>
    <p>
        Utsida bruker data som er laget av tidligere utvekslingsstudenter sine valg og erfaringer.
        Ved å matche dine forutsetninger med denne dataen vil systemet foreslå relevante alternativer.
        Hver utveksling er unik, og hver nye utveksling som blir lagt til i systemet vil gjøre det mer treffsikkert til
        neste gang.
    </p>

    <a class="btn btn-primary main-btn center-block vertical-space-top-big" href="/process">Finn fag</a>
    <script> setTimeout(function() {$('#sucessAlert').fadeOut('slow');}, 5000);</script>
{% endblock %}