{% extends "utsida/layout.html" %}

{% block content %}
    {% load widget_tweaks %}

    <div class="col-md-8 col-md-offset-2">
    <h3>Hva er Utsida?</h3>
        <p>
            Utsida er et verktøy som skal gjøre det enklere for studenter som ønsker å dra på
            utveksling, ved å gi intelligente anbefalinger på valg av både universitet og fag, og samle nødvendig
            informasjon på ett sted.
        </p>

        <h4 class="vertical-space-top-big">Anbefalingssystemet</h4>
        <p>
            <a href="/process/">Utsidas abefalingssystem</a> bruker tidligere utvekslingsstudenter sine valg og erfaringer som datagrunnlag.
            Ved å sammenligne dine preferanser med denne dataen vil systemet foreslå relevante alternativer. Du trenger kun
            å fylle ut det du vil. Resultatene vil være tidligere erfaringer som ligner mest på dine ønsker, og
            du kan plukke ut fag du synes ser relevante ut for deg.
        </p>

        <h4 class="vertical-space-top-big">Fagkoblinger</h4>
        <p>
            En fagkobling er en kobling mellom et fag du trenger på NTNU, og et fag på et annet universitet.
            Fagkoblinger kan være gyldige hvis fagene likner. Se her for praktisk informasjon om utveksling fra NTNU <a href="https://innsida.ntnu.no/utenlandsstudier">innsida.ntnu.no/utenlandsstudier</a><!--Legge inn lenke til NTNU' info om studiepoeng ved utveksling-->
        </p>
        <p>
            Du kan lagre fagkoblinger på <a href="/profile/courses/">Mine fag</a>-siden, enten ved å legge til koblinger som allerede er godkjente
            (se avsnitt under), eller ved å finne nye fag med hjelp av Utsidas anbefalingssystem, og koble disse med
            fag du trenger på NTNU.
        </p>
        <p>
            Når du har funnet og laget de fagkoblingene som skal dekke studiepoengene du trenger kan du opprette
            en søknad på siden Mine fag. Denne søknaden vil bli behandlet av en veileder og du kan se status på <a href="/profile/soknader/">Mine Søknader</a>.
        </p>

        <h4 class="vertical-space-top-big">Forhåndsgodkjente fag</h4>
        <p>
            På <a href="/courseMatch/">Fag-koblinger</a>-siden finner du en liste over fag-kobligner som allerede er
            administrert av en studieveileder. Her kan du filtrere på ønsket universitet, og plukke ut fag-koblinger
            som er relevante for deg.
        </p>


    </div>
{% endblock %}