{% extends "utsida/layout.html" %}

{% block content %}
    {% load widget_tweaks %}

    <div class="col-md-8 col-md-offset-2">
    <h3>Hva er Utsida?</h3>
        <p>
            Utsida er et verktøy som skal gjøre det enklere for studenter som ønsker å dra på
            utveksling, ved å gi intelligente anbefalinger på valg av både universitet og fag, og samle nødvendig
            informasjon på ett sted.
        </p>

        <h4 class="vertical-space-top-big">Anbefalingssystemet</h4>
        <p>
            <a href="/process/">Utsidas abefalingssystem</a> bruker data som er laget av tidligere utvekslingsstudenter sine valg og erfaringer.
            Ved å matche dine preferanser med denne dataen vil systemet foreslå relevante alternativer. Du trenger kun
            å fylle ut det du vil. Resultatene vil være tidligere utveklsingsturer som likner mest på dine ønsker, og
            du kan plukke ut fag du synes ser relevante ut for deg.
        </p>

        <h4 class="vertical-space-top-big">Fag-koblinger</h4>
        <p>
            En fag-kobling er en kobling mellom et fag du trenger på NTNU, og et fag på et annet universitet.
            Fag-koblinger kan være gyldige hvis fagene likner. For å få godkjent et utenlandsstudie, må alle
            fag-koblingene tilsvare 30 studiepoeng.
        </p>
        <p>
            Du kan lagre fag-koblinger på <a href="/profile/courses/">Mine fag</a>-siden, enten ved å legge til koblinger som allerede er godkjente
            (se avsnitt under), eller ved å finne nye fag med hjelp av Utsidas anbefalingssystem, og koble disse med
            fag du trenger på NTNU.
        </p>
        <p>
            Når du har funnet og laget de fag-koblingene som skal dekke studiepoengene du trenger kan du opprette
            en søknad på Mine fag-siden, som vil bli behandlet av en veileder.
        </p>

        <h4 class="vertical-space-top-big">Forhåndsgodkjente fag</h4>
        <p>
            På <a href="/courseMatch/">Fag-koblinger</a>-siden finner du en liste over fag-kobligner som allerede er
            administrert av en studieveileder. Her kan du filtrere på ønsket universitet, og plukke ut fag-koblinger
            som er relevante for deg.
        </p>


    </div>
{% endblock %}