{% extends "utsida/layout.html" %}

{% block content %}
    {% load widget_tweaks %}

    <div class="col-md-8 col-md-offset-2">
    <h3>Hva er Utsida?</h3>
        <p>
            Utsida er et verktøy som skal gjøre det enklere for studenter som ønsker å dra på
            utveksling, ved å gi intelligente anbefalinger på valg av både universitet og fag, og samle nødvendig informasjon på ett sted.
        </p>
        <P>
            Abefalingssystemet bruker data som er laget av tidligere utvekslingsstudenter sine valg og erfaringer.
            Ved å matche dine preferanser med denne dataen vil systemet foreslå relevante alternativer.
        </p>

        <h4 class="vertical-space-top-big">Fag-koblinger</h4>
        <p>
            En fag-kobling er en kobling mellom et fag du trenger på NTNU, og et fag på et annet universitet. Fag-koblinger kan være
            gyldige hvis fagene likner. For å få godkjent et utenlandsstudie, må alle fag-koblingene tilsvare 30 studiepoeng.
        </p>

        <h4 class="vertical-space-top-big">Forhåndsgodkjente fag</h4>
        <p>
            Du kan gå gjennom listen våres over tidligere behandlede fagkoblinger <a href="/courseMatch/">her</a>, eller gå til "Fagkoblinger" i hovedmenyen.
            Her kan du velge et universitet, og se på fagkombinasjoner som allerede er godkjente, eller søkt om å få godkjennelse.
        </p>


    </div>
{% endblock %}