{% extends "utsida/layout.html" %}

{% block content %}
    {% load widget_tweaks %}

    <div id="loadingScreen" class="hidden">
        <div class="loadScreen">
            <h3 class="text-center">Søker etter turer som likner mest på din...</h3>
            <img id="loader" src="../../static/utsida/images/loading.gif">
        </div>
    </div>


    <h2 class="text-center">Velg alternativene som stemmer for deg</h2>
    <h3 class="subTitle text-center">Du trenger kun å fylle ut det du vet</h3>

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <form method="post" action="/process/result/" onchange="formStep()">
            {% csrf_token %}
                <h3 class="vertical-space-bottom vertical-space-top-big">Om studiestedet</h3>
                <div class="form-group">
                    <label>Verdensdel</label>
                    {{ form.continent|add_class:"form-control" }}
                </div>
                <div style="display: none" class="form-group" id="countryRow">
                    <label>Land</label>
                    {{ form.country|add_class:"form-control" }}
                </div>
                <div style="display: none" class="form-group" id="languageRow">
                    <label>Undervisningsspråk</label>
                    {{ form.language|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Universitet</label>
                    {{ form.university|add_class:"form-control" }}
                </div>


                <h3 class="vertical-space-bottom vertical-space-top-big">Hvor viktig er...</h3>
                <div class="row">
                    <div class="form-group col-md-6 ver">
                        <label>Akademisk kvalitet?</label>
                        {{ form.academicQualityRating|add_class:"form-control" }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Sosial kvalitet?</label>
                        {{ form.socialQualityRating|add_class:"form-control" }}
                    </div>
                </div>

                <div class="form-group vertical-space-top">
                    <button onclick="startLoad()" type="submit" class="btn btn-primary square-corners center-block searchBtn">
                        Søk <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </form>


        </div>

    </div>

    {% load staticfiles %}
    <script src="{% static 'utsida/javascripts/process/form.js' %}"></script>
    <script src="{% static 'utsida/javascripts/process/loadingScreen.js' %}"></script>

{% endblock %}