{% extends 'utsida/layout.html' %}

{% block content %}
    {% load result_extras %}

    <div class="row vertical-space-bottom-big">
        <h2 class="text-center vertical-space-bottom-big">Viser alle matcher fra valgt universitet. Trykk på på et annet universitet for å vise andre matcher</h2>
        <div class="col-md-6 col-md-offset-3">
            <a href="/process/result/all"><span class="label label-primary">Alle</span></a>
            {% for university in universities %}
                <a href="/process/result/{{ university }}"><span class="label label-primary">{{ university }}</span></a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        {% for case in similar_cases %}
            {% if forloop.counter|divisibleby:3 %}<div class="row">{% endif %}
            <div class="col-md-4">
                <div class="panel panel-primary square-corners boxShadow">
                    <div class="panel-heading square-corners">
                        {{ case.University }} ({{ case.Country }}) <span class="pull-right badge">{{ case.Similarity }}</span>
                    </div>
                    <div class="panel-body">
                        <div class="subjectsContainer">
                            {% for subject in case.Subjects %}
                                {% if subject in matches.keys %}
                                    <div class="label label-success">{{ subject }} - {{matches | get:subject}}</div>
                                {% else %}
                                    <div class="label label-warning">{{ subject }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <hr>

                        <div class="hiddenInformation">
                            <div>
                                <p><span class="bold">Institutt hjemme:</span> {{ case.Institute }}</p>
                                <p><span class="bold">Verdensdel:</span> {{ case.Continent }}</p>
                                <p><span class="bold">Land:</span> {{ case.Country }}</p>
                                <p><span class="bold">Studiespråk:</span> {{ case.Language }}</p>
                                <p><span class="bold">Studieperiode:</span> {{ case.StudyPeriod }}</p>
                                <p><span class="bold">Vurdering av akademisk kvalitet:</span> {{ case.AcademicQuality }}</p>
                                <p><span class="bold">Vurdering av sosial kvalitet:</span> {{ case.SocialQuality}}</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <span id="expandTripChevron" style="color: #337ab7; cursor: pointer;" class="accordion glyphicon glyphicon-chevron-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
        {% endfor %}
    </div>

    {% load staticfiles %}
    <script src="{% static 'utsida/javascripts/showHiddenContent.js' %}"></script>

{% endblock %}